**/.terraform/**
**terraform.tfvars**
**.terraform.lock.hcl**
**.terraform.tfstate.lock.info**
**terraform.tfstate**
**.vscode**
**add-cluster-to-local-config.ps1**
**add-cluster-to-local-config.sh**
**deploy-cluster-node.sh**
**deploy-cluster.sh**
